@model Ejercicio03.Models.Cancione

@{
    ViewData["Title"] = "Create";
}

<h3 class="titulo">Crear nuevo registro</h3>
<hr />
<div class="contenedor contenedor-nuevoRegistro">
    <div class="contenedor-formulario">
        <form class="formulario" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="divValidation"></div>
            <div class="contenedor-campoFormulario">
                <label asp-for="Titulo" class="label"></label>
                <input asp-for="Titulo" class="input" />
                <span asp-validation-for="Titulo" class="span"></span>
            </div>
            <div class="contenedor-campoFormulario">
                <label asp-for="Duracion" class="label"></label>
                <input asp-for="Duracion" class="input" />
                <span asp-validation-for="Duracion" class="span"></span>
            </div>
            <div class="contenedor-campoFormulario">
                <label asp-for="AlbumesId" class="label"></label>
                <select asp-for="AlbumesId" class ="input" asp-items="ViewBag.AlbumesId"></select>
            </div>
            <div class="contenedor-campoFormulario form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Single" /> @Html.DisplayNameFor(model => model.Single)
                </label>
            </div>
            <div class="contenedor-submit">
                <input type="submit" value="Create" class="submit" />
            </div>
        </form>
    </div>
</div>

<div class="contenedor-campoFormulario back">
    <a class="back-link" asp-action="Index">Volver a la tabla -></a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
