@model Ejercicio03.Models.FuncionesArtista

@{
    ViewData["Title"] = "Create";
}

<h3 class="titulo">Crear nuevo registro</h3>
<hr />
<div class="contenedor contenedor-nuevoRegistro">
    <div class="contenedor-formulario">
        <form class="formulario" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="divValidation"></div>
            <div class="contenedor-campoFormulario">
                <label asp-for="Id" class="label"></label>
                <input asp-for="Id" class="input" />
                <span asp-validation-for="Id" class="span"></span>
            </div>
            <div class="contenedor-campoFormulario">
                <label asp-for="FuncionesId" class="label"></label>
                <select asp-for="FuncionesId" class ="input" asp-items="ViewBag.FuncionesId"></select>
            </div>
            <div class="contenedor-campoFormulario">
                <label asp-for="ArtistasId" class="label"></label>
                <select asp-for="ArtistasId" class ="input" asp-items="ViewBag.ArtistasId"></select>
            </div>
            <div class="contenedor-submit">
                <input type="submit" value="Create" class="submit" />
            </div>
        </form>
    </div>
</div>

<div class="contenedor-campoFormulario back">
    <a class="back-link" asp-action="Index">Volver a la tabla -></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
