@model Ejercicio03.Models.Albume

@{
    ViewData["Title"] = "Create";
}

<h3 class="titulo">Crear nuevo registro</h3>
<hr />
<div class="contenedor contenedor-nuevoRegistro">
    <div class="contenedor-formulario">
        <form class="formulario" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="divValidation"></div>
            <input type="hidden" asp-for="Id" />
            @* <div class="">
                <label asp-for="Id" class=""></label>
                <input asp-for="Id" class="" />
                <span asp-validation-for="Id" class=""></span>
            </div> *@
            <div class="contenedor-campoFormulario">
                <label asp-for="Nombre" class="label"></label>
                <input asp-for="Nombre" class="input" />
                <span asp-validation-for="Nombre" class="span"></span>
            </div>
            <div class="contenedor-campoFormulario">
                <label asp-for="GenerosId" class="label">Género</label>
                <select asp-for="GenerosId" class="input" asp-items="ViewBag.GenerosId"></select>
            </div>
            <div class="contenedor-campoFormulario">
                <label asp-for="GruposId" class="label">Grupo</label>
                <select asp-for="GruposId" class="input" asp-items="ViewBag.GruposId"></select>
            </div>
            <div class="contenedor-campoFormulario">
                <label asp-for="Fecha" class="label"></label>
                <input asp-for="Fecha" class="input" placeholder="00/00/0000" />
                <span asp-validation-for="Fecha" class="span"></span>
            </div>
            <div class="contenedor-submit">
                <input type="submit" value="Crear registro" class="submit" />
            </div>
        </form>
    </div>
</div>

<!-- Muestra de errores de las validaciones -->
@* <div asp-validation-summary="All"></div> *@
<!-- Fin de la muestra de errores -->

<div class="contenedor-campoFormulario back">
    <a class="back-link" asp-action="Index">Volver a la tabla -></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
