@model Ejercicio03.Models.Albume

@{
    ViewData["Title"] = "Edit";
}

<h3 class="titulo">Editar registro</h3>
<hr />
<div class="contenedor contenedor-nuevoRegistro">
    <div class="contenedor-formulario">
        <form class="formulario" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="divValidation"></div>
            <input type="hidden" asp-for="Id" />
            <div class="contenedor-campoFormulario">
                <label asp-for="Nombre" class="label"></label>
                <input asp-for="Nombre" class="input" />
                <span asp-validation-for="Nombre" class="span"></span>
            </div>
            <div class="contenedor-campoFormulario">
                <label asp-for="GenerosId" class="label">Género</label>
                <select asp-for="GenerosId" class="input" asp-items="ViewBag.GenerosId"></select>
                <span asp-validation-for="GenerosId" class="span"></span>
            </div>
            <div class="contenedor-campoFormulario">
                <label asp-for="GruposId" class="label">Grupo</label>
                <select asp-for="GruposId" class="input" asp-items="ViewBag.GruposId"></select>
                <span asp-validation-for="GruposId" class="span"></span>
            </div>
            <div class="contenedor-campoFormulario">
                <label asp-for="Fecha" class="label"></label>
                <input asp-for="Fecha" class="input" />
                <span asp-validation-for="Fecha" class="span"></span>
            </div>
            <div class="contenedor-submit">
                <input type="submit" value="Guardar registro" class="submit" />
            </div>
        </form>
    </div>
</div>

<div class="contenedor-campoFormulario back">
    <a class="back-link" asp-action="Index">Volver a la tabla -></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
