@model Ejercicio03.Models.Representante

@{
    ViewData["Title"] = "Edit";
}

<h3 class="titulo">Editar registro</h3>
<hr />
<div class="contenedor contenedor-nuevoRegistro">
    <div class="contenedor-formulario">
        <form asp-action="Edit">
            <div class="formulario" asp-validation-summary="ModelOnly" class="textoValidacion"></div>
            <input type="hidden" asp-for="Id" />
            <div class="contenedor-campoFormulario">
                <label asp-for="NombreCompleto" class="label"></label>
                <input asp-for="NombreCompleto" class="input" />
                <span asp-validation-for="NombreCompleto" class="textoValidacion"></span>
            </div>
            <div class="contenedor-campoFormulario">
                <label asp-for="FechaNacimiento" class="label"></label>
                <input asp-for="FechaNacimiento" class="input" />
                <span asp-validation-for="FechaNacimiento" class="textoValidacion"></span>
            </div>
            <div class="contenedor-campoFormulario">
                <label asp-for="Identificacion" class="label"></label>
                <input asp-for="Identificacion" class="input" />
                <span asp-validation-for="Identificacion" class="textoValidacion"></span>
            </div>
            <div class="contenedor-campoFormulario">
                <label asp-for="Mail" class="label"></label>
                <input asp-for="Mail" class="input" />
                <span asp-validation-for="Mail" class="textoValidacion"></span>
            </div>
            <div class="contenedor-campoFormulario">
                <label asp-for="Telefono" class="label"></label>
                <input asp-for="Telefono" class="input" />
                <span asp-validation-for="Telefono" class="textoValidacion"></span>
            </div>
            <div class="contenedor-campoFormulario">
                <label asp-for="CiudadesId" class="label"></label>
                <select asp-for="CiudadesId" class="input" asp-items="ViewBag.CiudadesId"></select>
                <span asp-validation-for="CiudadesId" class="textoValidacion"></span>
            </div>
            <div class="contenedor-submit">
                <input type="submit" value="Guardar registro" class="submit" />
            </div>
        </form>
    </div>
</div>

<div class="contenedor-campoFormulario back">
    <a class="back-link" asp-action="Index">Volver a la tabla -></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
