/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/* FUENTES */
/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Josefin Sans */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/* Dosis */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/*Slabo*/
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
/*
    font-family: "Josefin Sans", sans-serif;
    font-family: "Dosis", sans-serif;
    font-family: "Slabo 27px", serif;
*/
/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/* COLORES */
/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/*
    #fdd604 - amarillo
    #022c5f - azul
    #0d4385 - azul más claro
    #039203 - verde
    #41464a - negro
    #f1f3f4 - blanco
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body {
    background-color: #f1f3f4;
}

td {
    font-size: 18px;
    font-weight: 500;
    font-family: "Slabo 27px", serif;
    color: #022c5f;
}

hr{
    color: #f1f3f4;
}

.header{
    position: fixed;
    top: 0;
    width: 100vw;
}

.main {
    position: fixed;
    top: 4em;
    width: 100vw;
}

.footer {
    position: relative;
    width: 100vw;
    height: 3.8em;
    display: flex;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    background-color: #039203;
    color: #f1f3f4;
}

.header-content {
    display: flex;
    width: 100%;
    min-height: 4em;
    padding: 1em 5em;
    justify-content: space-between;
    background-color: #fdd604;
    font-family: "Josefin Sans", sans-serif;
}

.logo{
    letter-spacing: -1.5px;
    font-weight: 550;
    font-size: 20px;
}

.nav {
    transition: all 0.75s ease-in-out;
}

.cortinilla {
    transition: all 0.75s ease-in-out;
}

.nav__list{
    display: flex;
    column-gap: 40px;
}

.nav__link{
    font-size: 20px;
    transition: color 0.4s;
    /*transition: all 0.4s;*/
}

.nav__link:hover,
.nav__link:focus{
    color: #fdd604;
}

.nav__item{

}

.hamburguer{
    display: none;
    cursor: pointer;
}

.bar {
    height: 2px;
    width: 27px;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    background-color: #022c5f;
}

.nav--open {
    transform: translate(0) !important;
}

.cortinilla--open {
    transform: translate(0) !important;
}

.hamburguer--open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburguer--open .bar:nth-child(2){
    opacity: 0;
}

.hamburguer--open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.header-content
a{
    color: #022c5f !important;
}

.menu-navBar
.menu-li
a{
    color: #022c5f !important;
}

.row {
    width: 100vw;
}

.seccion{
    display: inline-block;
}

.contenido-main {
    position: absolute;
    width: 80vw;
    padding: 0.5em 2em;
}

.span {
    font-size: 20px;
    font-weight: 500;
    font-family: "Josefin Sans", sans-serif;
    color: #f1f3f4;
}

.navLat-li {
    margin-bottom: 0.75em;
}

.navLat-link {
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #f1f3f4;
    transition: all 0.5s ease;
}

.navLat-li:hover,
.navLat-li:focus{
    width: 100%;
    height: 100%;
    background-color: #022c5f;
}

.navLat-li
.navLat-link:hover {
    text-decoration: underline  !important;
    margin-left: 0.65em;
}

.titulo {
    font-size: 25px;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    color: #022c5f;
}

.creacion {
    vertical-align: middle;
    position: relative;
    height: 2em;
    margin: 1em 0;
    vertical-align: middle;
    background-color: #022c5f;
}

.creacion-link {
    margin-left: 0.65em;
    vertical-align: middle;
    font-size: 22px;
    font-weight: 500;
    font-family: "Dosis", sans-serif;
    color: #f1f3f4 !important;
}

.creacion-link:hover{
    text-decoration: underline;
}

.tbody {
    background-color: #f4f5f6;
}

/*.contenedor-nuevoRegistro{
    display: block;
    width: 45vw;
    height: 50vh;
    margin: 1em auto;
    padding: 0.5em;
    border: 2px solid #022c5f;
    border-radius: 20px;
    color: #022c5f;
}*/

.formulario {
}

.contenedor-campoFormulario {
    margin: 0.5em 2em;
    width: 100%;
    font-weight: 500;
    font-family: "Dosis", sans-serif;
}

.label{
    display: block;
    margin: 0.5em auto;
}

.input {
    width: 50%;
    height: 2em;
    padding-left: 1em;
    border: 1px solid #022c5f;
    border-radius: 15px;
    font-family: "Dosis", sans-serif;
}

.submit {
    margin: 1em 1.5em;
    vertical-align: middle;
    width: 50%;
    height: 2em;
    border: 1px solid #022c5f;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
    font-family: "Dosis", sans-serif;
    background-color: #022c5f;
    color: #f1f3f4;
}

.submit:hover{
    text-decoration: underline;
    background-color: #f1f3f4;
    color: #022c5f;
}

.back-link {
    font-size: 24px;
    font-weight: 500;
    color: #022c5f !important;
}

.back-link:hover{
    text-decoration: underline;
}

.textoValidacion{
    color: #a6051a;
}

.action {
    font-size: 18px;
    font-family: "Dosis", sans-serif;
}

#menuLateral {
    width: 20vw;
    height: 100vh;
    padding: 1em 2em;
    background-color: #022c5f;
}

#navLat {
    margin-top: 1em;
    padding: 0.5em 1em;
    /*border: 1px solid #41464a;*/
    background-color: #0d4385;
}

#navLat-menu {
    margin-top: 0.75em;
}

#contenido-main{
    padding: 1em 1em;
}

#privacy-link{
    opacity: 0.8;
    color: #f1f3f4;
}

@media (max-width:1162px) {
    .nav {
        position: fixed;
        top: 4em;
        left: 0;
        background-color: #022c5f;
        height: 100vh;
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(-100%);
        z-index: 1 !important;
    }

    .cortinilla {
        position: fixed;
        top: 3em;
        left: 0;
        background-color: #022c5f;
        height: 100vh;
        width: 20%;
        transform: translateX(-100%);
        z-index: 1 !important;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .nav__link {
        font-size: 14px;
        color: #f1f3f4;
    }

    .hamburguer {
        display: block;
    }

    #titulo-latMenu,
    .contenedor-menuLateral hr {
        display: none;
    }
}